/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

/* HEADER */

body {
  margin: 0 auto;
  max-width: 1920px
  width: 100%;
  background-color: #e7e7e7;
}

header {
  justify-content: space-between;
  padding: 30px 70px;
  background-color: #d2232a;
  color: #fff;
}

header,
header .logo-and-title-container,
ul {
  display: flex;
  align-items: center;
}

header .logo-and-title-container {
  position: relative;
}

header img {
  width: 120px;
  top: -15px;
  position: absolute;
}

header h1 {
  margin: 10px 0 0 140px;
  font-size: 36px;
}

header ul {
  gap: 20px;
}

li a {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

li a:hover {
  background-color: #1f1f1f;
}

/* MAIN CONTENT */

main,
footer {
  text-align: center;
}

main h2 {
  background-color: #000;
  color: #fff;
  font-size: 28px;
  margin-top: 16px;
  padding: 12px;
}

main h3 {
  background-color: #d2232a;
  color: #fff;
  margin-top: 16px;
  padding: 12px;
  font-size: 22px;
}

main ul {
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}

main li img {
  height: 250px;
  margin: 16px 0;
}

main li {
  border: 2px solid #0000001c;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px 16px;
}

main li p {
  margin-bottom: 8px;
}

main li .date-of-birth,
main li .city {
  font-weight: bold;
  color: #d2232a;
}

/* FOOTER */

footer {
  background-color: #d2232a;
  padding: 10px 0;
  color: #fff;
}
